POSTGRES_DB=exalore_erp
POSTGRES_USER=exalore
POSTGRES_PASSWORD=replace-for-shared-environments
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_SERVE_MEDIA=true
CLOUDINARY_CLOUD_NAME=Exalore
CLOUDINARY_API_KEY=374984288353475
CLOUDINARY_API_SECRET=szmTyrBkR9sAXGkCZcf02m4m1qo
